#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px; }
  @media (min-width: 768px) {
    #about .about {
      flex-direction: row; } }
  #about .about .col-left {
    width: 350px;
    height: 360px; }
    #about .about .col-left .about-img {
      position: relative;
      z-index: 1; }
      #about .about .col-left .about-img img {
        border: 12px solid white;
        margin-left: 30px; }
      #about .about .col-left .about-img::after {
        content: '';
        position: absolute;
        margin-left: 30px;
        left: -33px;
        top: 30px;
        height: 94%;
        width: 90%;
        border: 7px solid crimson;
        z-index: -1; }
        @media (min-width: 768px) {
          #about .about .col-left .about-img::after {
            left: -45px;
            top: 30px;
            height: 98%;
            width: 98%;
            border: 8px solid crimson; } }
  #about .about .col-right {
    width: 100%; }
    @media (min-width: 768px) {
      #about .about .col-right {
        text-align: left;
        padding: 30px; } }
    #about .about .col-right .section-title {
      font-size: 4rem;
      font-weight: 300;
      color: black;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: .2rem;
      text-align: center; }
      #about .about .col-right .section-title span {
        color: crimson; }
      @media (min-width: 768px) {
        #about .about .col-right .section-title {
          font-size: 6rem; } }
    @media (min-width: 768px) {
      #about .about .col-right h1 {
        text-align: left; } }
    #about .about .col-right h2 {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: .2rem;
      margin-bottom: 10px; }
    #about .about .col-right p {
      margin-bottom: 20px; }
    #about .about .col-right a {
      display: inline-block;
      padding: 10px 30px;
      color: white;
      background-color: transparent;
      border: 2px solid crimson;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin-top: 30px;
      transition: .5s ease;
      transition-property: background-color, color;
      color: black;
      font-size: 2rem;
      padding: 10px 20px;
      margin-bottom: 50px; }
      #about .about .col-right a:hover {
        color: white;
        background-color: crimson; }
