#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 50px auto; }
  @media (min-width: 768px) {
    #contact .contact {
      flex-direction: column;
      padding: 50px 0;
      align-items: center;
      justify-content: center;
      min-width: 20vh; } }
  #contact .contact .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center; }
    #contact .contact .section-title span {
      color: crimson; }
    @media (min-width: 768px) {
      #contact .contact .section-title {
        font-size: 6rem; } }
  #contact .contact .contact-items {
    display: none; }
    @media (min-width: 768px) {
      #contact .contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 50px;
        margin-top: -50px; } }
    #contact .contact .contact-items .contact-item {
      width: 80%;
      text-align: center;
      border-radius: 10px;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 18px 0 #0000002c;
      transition: .3s ease box-shadow;
      margin: 10px; }
      @media (min-width: 860px) {
        #contact .contact .contact-items .contact-item {
          margin: 20px;
          flex-direction: row; } }
      #contact .contact .contact-items .contact-item:hover {
        box-shadow: 0 0 5px 0 #0000002c; }
      #contact .contact .contact-items .contact-item .icon {
        width: 70px;
        margin: 0 auto;
        margin-bottom: 10px; }
        @media (min-width: 768px) {
          #contact .contact .contact-items .contact-item .icon {
            height: 100px;
            width: 80px; } }
        #contact .contact .contact-items .contact-item .icon img {
          object-fit: contain; }
      @media (min-width: 768px) {
        #contact .contact .contact-items .contact-item .contact-info {
          width: 100%;
          text-align: center; } }
      #contact .contact .contact-items .contact-item .contact-info h1 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 5px; }
      #contact .contact .contact-items .contact-item .contact-info h2 {
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 500; }
  #contact .contact .contactSec {
    width: 90%; }
    #contact .contact .contactSec p {
      color: crimson;
      font-weight: bold; }
    #contact .contact .contactSec form {
      display: grid;
      grid-auto-columns: repeat(2, 1fr);
      grid-auto-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      width: 100%; }
      @media (max-width: 768px) {
        #contact .contact .contactSec form {
          display: block; } }
      #contact .contact .contactSec form .item1 {
        grid-row: 1/2;
        grid-column: 1/2; }
      #contact .contact .contactSec form .item2 {
        grid-row: 2/3;
        grid-column: 1/2; }
      #contact .contact .contactSec form .item3 {
        grid-row: 3/4;
        grid-column: 1/2; }
      #contact .contact .contactSec form .item4 {
        grid-row: 1/4;
        grid-column: 2/3; }
        #contact .contact .contactSec form .item4 textarea {
          height: 100%;
          padding: 20px;
          background-color: #29313c;
          color: white;
          font-size: 2rem; }
          @media (max-width: 768px) {
            #contact .contact .contactSec form .item4 textarea {
              height: 250px; } }
      #contact .contact .contactSec form div {
        width: 100%;
        display: flex;
        flex-direction: column; }
        #contact .contact .contactSec form div label {
          font-size: 1.5rem;
          padding: 10px 5px;
          color: #29313c; }
        #contact .contact .contactSec form div input {
          padding: 5px  10px;
          background-color: #29313c;
          color: white;
          height: 50px;
          font-size: 2rem; }
      #contact .contact .contactSec form .send {
        margin: 20px 0px;
        border: none;
        background-color: #4646aa;
        color: white;
        font-weight: bold;
        width: 80px;
        height: 35px;
        cursor: pointer; }
        #contact .contact .contactSec form .send:hover {
          background-color: #2a2a91; }
