#dashbord {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); }
  #dashbord .dashbord form {
    width: 50%;
    min-width: 300px; }
    #dashbord .dashbord form h1 {
      color: white;
      text-align: center;
      font-size: 4rem; }
    #dashbord .dashbord form div {
      margin: 10px auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 70%;
      min-width: 100%; }
      #dashbord .dashbord form div label {
        font-size: 2rem;
        text-align: start;
        color: white; }
      #dashbord .dashbord form div input {
        height: 40px;
        padding: 4px; }
      #dashbord .dashbord form div textarea {
        padding: 4px; }
      #dashbord .dashbord form div input[type="submit"] {
        margin: 20px 0;
        width: 80px;
        background-color: #0082c8;
        border: none;
        color: white;
        font-weight: bold;
        letter-spacing: .2rem;
        border-radius: 8px;
        cursor: pointer; }
