#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); }
  #footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px; }
    #footer .footer .brand {
      font-size: 4rem;
      font-weight: 300;
      color: black;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: .2rem;
      text-align: center; }
      #footer .footer .brand span {
        color: crimson; }
      #footer .footer .brand h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: white; }
    #footer .footer h2 {
      color: white;
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: .1rem;
      margin-top: 10px;
      margin-bottom: 10px; }
    #footer .footer .social-icon {
      display: flex;
      margin-bottom: 30px; }
      #footer .footer .social-icon .social-item {
        height: 50px;
        width: 50px;
        margin: 0 5px; }
        #footer .footer .social-icon .social-item img {
          filter: grayscale(1);
          transition: .3s ease filter; }
        #footer .footer .social-icon .social-item:hover img {
          filter: grayscale(0); }
