@mixin section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    span{
        color: crimson;
    }
    @include resp(768px){
        font-size: 6rem;
    }
}

@mixin botton {
    display: inline-block;
        padding: 10px 30px;
        color: white;
        background-color: transparent;
        border: 2px solid crimson;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .5s ease;
        transition-property: background-color, color;
        &:hover{
            color: white;
            background-color: crimson;
        }
}

// media query foe tablet and desktop
@mixin resp($size) {
    @media (min-width: #{$size}) {
        @content;
    }
}


