@import "mixin";
// about me section
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    @include resp(768px){
        flex-direction: row;
    }
    .col-left{
        width: 250px;
        height: 360px;
        .about-img{
            position: relative;
            z-index: 1;
            img{
                border: 12px solid white;
                margin-left: 30px;
            }
            &::after{
                content: '';
                position: absolute;
                margin-left: 30px;
                left: -33px;
                top: 30px;
                height: 96%;
                width: 98%;
                border: 7px solid crimson;
                z-index: -1;
                @include resp(768px){
                    left: -45px;
                    top: 30px;
                    height: 98%;
                    width: 98%;
                    border: 8px solid crimson;
                }
            }
        }

    }
    .col-right{
        width: 100%;
        @include resp(768px){
            text-align: left;
            padding: 30px;
        }
        .section-title{
            @include section-title;
        }
        h1{
            @include resp(768px){
                text-align: left;
            }
        }
        h2{
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: .2rem;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 20px;
        }
        a{
            @include botton;
            color: black;
            font-size: 2rem;
            padding: 10px 20px;
            margin-bottom: 50px;
        }
    }
}
// end about me section