// dashbord section
#cp{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    .cp{
        form{
            width: 50%;
            min-width: 300px;
            h1{
                color: white;
                text-align: center;
                font-size: 4rem;
            }
            h2{
                color: crimson;
                font-weight: 300;
            }
            div{
                margin: 10px auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 70%;
                min-width: 100%;
                label{
                    font-size: 2rem;
                    text-align: start;
                    color: white;
                }
                input{
                    height: 40px;
                    padding: 4px;
                }
                textarea{
                    padding: 4px;
                }
                input[type="submit"]{
                    margin: 20px 0;
                    width: 80px;
                    background-color: #0082c8;
                    border: none;
                    color: white;
                    font-weight: bold;
                    letter-spacing: .2rem;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }
    }
}
// end C P section


// start V E post

#vp{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

    .vp{
        table {
            border-collapse: collapse;
            width: 75%;
            th {
                font-size: 2rem;
                text-align: center;
                padding: 8px;
            }
            td{
                font-size: 1.5rem;
                text-align: left;
                padding: 10px ;
                i{
                    color: blue;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                }
            }

            tr:nth-child(even){background-color: #f2f2f2}
              
            th {
                background-color: black;
                color: white;
                
            }
        }
          
          
    }
}
