@import 'mixin';
#header{
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    .header{
        min-height: 8vh;
        background-color: rgba(31, 30, 30, 0.24);
        transition: .3s ease  background-color;
        .nav-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            max-width: 1300px;
            padding: 0 10px;
            .brand{
                @include section-title;
                font-size: 1.6rem;
                @include resp(768px){
                    font-size: 2rem;
                }
                @include resp(100px){
                    margin-top: 5px;

                }
                a{
                    color: white;
                }
            }
            .nav-list{
                .hamburger{
                    height: 50px;
                    width: 50px;
                    display: inline-block;
                    border: 3px solid white;
                    border-radius: 50%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 100;
                    cursor: pointer;
                    margin: 20px;
                    transform: scale(.8);
                    &::after{
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        border: 3px solid white;
                        animation: hamburger_puls 1s ease infinite;
                    }
                    @include resp(1200px){
                        display: none;
                    }
                    .bar{
                        height: 2px;
                        width: 30px;
                        position: relative;
                        background-color: white;
                        z-index: -1;
                        &::after, &::before{
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            left: 0;
                            background-color: white;
                            transition: .3s ease;
                            transition-property: top, bottom;
                        }
                        &::after{
                            top: 8px;
                        }
                        &::before{
                            bottom: 8px;
                        }
                    }
                }
                ul{
                    list-style: none;
                    position: absolute;
                    background-color: rgb(31, 30, 30);
                    width: 100vw;
                    height: 100vh;
                    left: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    overflow-x: hidden;
                    transition: .6s ease left;
                    @include resp(1200px){
                        position: initial;
                        display: block;
                        height: auto;
                        width: fit-content;
                        background-color: transparent;
                    }
                    a{
                        font-size: 2.5rem;
                        font-weight: 500;
                        letter-spacing: .2rem;
                        text-decoration: none;
                        color: white;
                        text-transform: uppercase;
                        padding: 20px;
                        display: block;
                        &::after{
                            content: attr(data-after);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0);
                            color: rgba(240, 248, 255, 0.021);
                            font-size: 13rem;
                            letter-spacing: 50px;
                            z-index: -1;
                            transition: .3s ease letter-spacing;
                            @include resp(1200px){
                                display: none;
                            }
                        }
                    }
                    li{
                        @include resp(1200px){
                            display: inline-block;
                        }
                        a{
                            font-size: 1.8rem;
                        }
                    }
                    li:hover a::after{
                        transform: translate(-50%, -50%) scale(1);
                        letter-spacing: initial;
                    }
                    li:hover a{
                        color: crimson;
                        font-weight: 500;
                    }
    
                }
                ul.active{
                    left: 0%;
                }
                .hamburger.active .bar::before{
                    bottom: 0;
                }
                .hamburger.active .bar::after{
                    top: 0;
                }
            }
        }
    }
}


@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}